{% extends 'base.html' %}
{% load static %}
{% block title %}Visioconférence{% endblock %}
{% block content %}
<form method="post">
  {%csrf_token%}
  <h2>Formulaire de création de salle de conférence</h2>
  {{form.as_p}}
  <input type="submit" value="Démarrer la visioconférence">
</form>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    flatpickr(".flatpickr", {
        locale: "fr",
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        time_24hr: true,
        minDate: "today",
        minuteIncrement: 15
    });
});
</script>
{% endblock %}