{% extends 'base.html' %}
{% load static %}

{% block title %}{{ meeting.title_of_meeting }}{% endblock %}

{% block content %}
    {% include './meeting_status.html' %}
    {% block script %}
    <script src='https://meet.jit.si/external_api.js'></script>
    <script>
        const domain = 'meet.jit.si';
        const options = {
            roomName: '{{ meeting.title_of_meeting }}',
            width: '100%',
            height: '100%',
            parentNode: document.querySelector('#meet'),
            lang: 'fr',
            configOverwrite: {
                startWithAudioMuted: true,
                startWithVideoMuted: true,
                prejoinPageEnabled: true,
                enableLobbyChat: true,
            },
        };
        const api = new JitsiMeetExternalAPI(domain, options);
    </script>
    {% endblock %}
{% endblock %}